@page "/designation/create"
@page "/designation/edit/{id:int}"

@inject IDesignationRepository _designationRepository
@inject NavigationManager _navigationManager
@attribute [Authorize(Roles = SD.Role_Admin)]

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Designation</h3>

    <div class="col-8">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="/images/loading.gif" />
            </div>
        }
        else
        {
            <EditForm Model="DesignationDTO" OnValidSubmit="HandleDepartment">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Name</label>
                    <InputText @bind-Value="DesignationDTO.Name" class="form-control"></InputText>
                    <ValidationMessage For="()=>DesignationDTO.Name" />
                </div>

                <div class="form-group">
                    <label>Remarks</label>
                    <InputText @bind-Value="DesignationDTO.Remarks" class="form-control"></InputText>
                    <ValidationMessage For="()=>DesignationDTO.Remarks" />
                </div>

                <div class="form-group py-2">
                    <button class="btn btn-primary">@Title</button>
                    <NavLink href="designation" class="btn btn-secondary">Back to Index</NavLink>
                </div>
            </EditForm>
        }

    </div>
</div>

@code {
    public DesignationDTO DesignationDTO { get; set; } = new();
    public string Title { get; set; } = "Create";
    public bool IsLoading { get; set; }
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            IsLoading = false;
        }
        else
        {
            Title = "Edit";
            DesignationDTO = await _designationRepository.Get(Id);
        }
    }

    private async Task HandleDepartment()
    {
        @if (DesignationDTO.Id == 0)
        {
            await _designationRepository.Create(DesignationDTO);
        }
        else
        {
            await _designationRepository.Update(DesignationDTO);
        }
        _navigationManager.NavigateTo("/designation");
    }

}
