@page "/leavetype/create"
@page "/leavetype/edit/{id:int}"

@inject ILeaveTypeRepository _leaveTypeRepository
@inject NavigationManager _navigationManager
@attribute [Authorize(Roles = SD.Role_Admin)]

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Leave Type</h3>

    <div class="col-8">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="/images/loading.gif" />
            </div>
        }
        else
        {
            <EditForm Model="LeaveTypeDTO" OnValidSubmit="HandleDepartment">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Leave Type Name</label>
                    <InputText @bind-Value="LeaveTypeDTO.LeaveTypeName" class="form-control"></InputText>
                    <ValidationMessage For="()=>LeaveTypeDTO.LeaveTypeName" />
                </div>

                <div class="form-group">
                    <label>Remarks</label>
                    <InputText @bind-Value="LeaveTypeDTO.Remarks" class="form-control"></InputText>
                    <ValidationMessage For="()=>LeaveTypeDTO.Remarks" />
                </div>

                <div class="form-group py-2">
                    <button class="btn btn-primary">@Title</button>
                    <NavLink href="leavetype" class="btn btn-secondary">Back to Index</NavLink>
                </div>
            </EditForm>
        }

    </div>
</div>

@code {
    public LeaveTypeDTO LeaveTypeDTO { get; set; } = new();
    public string Title { get; set; } = "Create";
    public bool IsLoading { get; set; }
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            IsLoading = false;
        }
        else
        {
            Title = "Edit";
            LeaveTypeDTO = await _leaveTypeRepository.Get(Id);
        }
    }

    private async Task HandleDepartment()
    {
        @if (LeaveTypeDTO.Id == 0)
        {
            await _leaveTypeRepository.Create(LeaveTypeDTO);
        }
        else
        {
            await _leaveTypeRepository.Update(LeaveTypeDTO);
        }
        _navigationManager.NavigateTo("/leavetype");
    }

}
